---
layout: page
title: Category Index
permalink: /classes/index.html
title: Class assignments
tags: [Categories]
description: "In this page you can find my progress with class assignments."

---

<ul class="tag-box inline">

</ul>

{% for tag in site.categories %} 

  <ul class="post-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><span class="6-psecondary radius label">{{ post.date | date: "%d %B" }}</span></time> | <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
	
	
  </ul>
{% endfor %}