---
layout: page
permalink: /final_project/
title: Twister
description: "An archive of posts by my final project."
---
<div class="row">
  <div class="small-3 columns">
<img src="{{ site.url }}/images/logo_big.png">

<a href="#"><span class="tiny button success left">schedule</span></a>
<a href="{{ site.url }}/finalproject/description/"><span class="tiny button success right">description</span></a>

  </div>
  <div class="small-9 columns">
	  {% assign featuredcount = '0' %}
	  <ul class="post-list">Blog Project-fresh update
		  {% for post in site.posts %}
		  {% if post.featured %}
		  {% assign featuredcount = featuredcount | plus:'1' %}
  			<li><article><i class="fa fa-plus-square"></i> <a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | 			date: "%B %d, %Y" }}</time></span></a></article></li>
		  {% endif %}
		  {% endfor %}
	  </ul>  
	  {% if featuredcount == '0' %}
  <div class="notepad-page-title row">
    <h1>No posts has been featured yet</h1>
	</div>
	   {% endif %}	  	  
	  
	  
  </div>
</div>