---
layout: home
title: 
description: "The personal page of Giacomo Falaschi at fabacademy 2015."
headline: Classes Diary
tags: [Giacomo, Falaschi, twister, fabacademy, 2015, blog, classes, contea, cascina, fablab]
---
<div class="row">
  <div class="small-12 large-4 columns">
	  
		<span><a href="{{ site.url }}/about/">
		     <img src="{{ site.url }}/images/about/giacomo_falaschi.jpg" alt="hi everithing!" title="hi everything! ;) "></a>
			 <br>
		     <div class="social-icons">
        
		         {% if site.owner.twitter %}
		         <a href="http://twitter.com/{{ site.owner.twitter }}">
		             <span class="fa-stack fa-lg">
		                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
		                 <i class="fa fa-twitter fa-stack-1x"></i>
		             </span>
		         </a>
		         {% endif %}
		         {% if site.owner.google_plus %}
		         <a href="{{ site.owner.google_plus }}">
		             <span class="fa-stack fa-lg">
		                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
		                 <i class="fa fa-google-plus fa-stack-1x"></i>
		             </span>
		         </a>
		         {% endif %}
		         {% if site.owner.instagram %}
		         <a href="http://instagram.com/{{ site.owner.instagram }}">
		             <span class="fa-stack fa-lg">
		                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
		                 <i class="fa fa-instagram fa-stack-1x"></i>
		             </span>
		         </a>
		         {% endif %}
		         {% if site.owner.github %}
		         <a href="http://github.com/{{ site.owner.github }}">
		             <span class="fa-stack fa-lg">
		                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
		                 <i class="fa fa-github fa-stack-1x"></i>
		             </span>
		         </a>
		         {% endif %}
		         {% if site.owner.facebook %}
		         <a href="http://facebook.com/{{ site.owner.facebook }}">
		             <span class="fa-stack fa-lg">
		                 <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
		                 <i class="fa fa-facebook fa-stack-1x"></i>
		             </span>
		         </a>
		         {% endif %}
		     </div>
			<h6 class="subheader">Giacomo Falaschi</h6>	 
		 </span>
		
		<a href="http://www.fabacademy.org"><img src="{{ site.url }}/images/fab-academy2.jpg"></a>
		<a href="http://www.fablabcascina.org">- FabLab Cascina</a><br><br>
		<a href="http://fablabcontea.blogspot.com">- - FabLab Contea</a>
  </div>
  <div class="small-12 large-8 columns">

<h3>About me</h3>
<p>Hi! I'm Giacomo Falaschi, I study design in Florence, I work in Rome and I am the co-founder of <a href="http://fablabcontea.blogspot.com">FabLab Contea</a>, a small town about 30 km far from Florence.
Thanks to <a href="http://www.fablabcascina.org">FabLab Cascina</a> that brought FabAcademy in Italy, this is the first year I can attend the FabAcademy courses.
In this site you will find everything about my final project and the reports from the <a href="{{ site.url }}/classes/">single week session</a></p>.


<h4>My final project</h4>
<p>Twister is a Lego styled modular educational cube, able to rotate, change colors, connect wireless with other Twister, controlled by smartphone/pc and completely programmable. </p>
<a href="{{ site.url }}/finalproject/schedule/"><span class="tiny button success">schedule</span></a>
<a href="{{ site.url }}/finalproject/description/"><span class="tiny button success">description</span></a>



<h5>Latest Updates:</h5> 
  <ul class="latest_updates">

{% for post in site.posts %}
      <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"><strong>{{ post.date | date: "%d %B" }}</strong></time>
		  <a href="{{ site.url }}{{ post.url }}" class="latest_updates">{{ post.description }} - {{ post.title }}</a></li>
{% endfor %}
  </ul>

</div>